.Navg
{
    display: flex;
    flex-direction: row;
    margin-left: 800px;
}
h4
{
    margin : 25px;
    font-size: 30px;
    justify-content: space-around;
}
a
{
  text-decoration: none;
}
.Img
{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(350px , 1fr));
    grid-gap: 12px;
}
img
{
    height: 300px;
    width: 350px;
    border: 1px solid black;
    border-radius: 10px;
}
.cat
{
    height: 50px;
    width: 200px;
    padding: 5px;
    border-radius: 20px;
    margin-top: 20px;
}
