body
{
    background-color:#33372C;
}
.navbar {
    overflow: hidden;
    background-color:#FF885B; 
    height: 60px;
    padding: 10px;
    border-radius: 10px; 
    font-size: 40px;
  }
  a{
    background-color: #FF885B;
  }
  .navbar a {
    float: left;
    font-size: 16px;
    color: #33372C;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .cat {
    float: left;
    overflow: hidden;
  }
  
  .cat {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover {
    background-color: #FFE5CF;
  }
  
  .cat {
    display: none;
    position: absolute;
    background-color: #557C56;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 170px;
    border-radius: 10px;
  }
  
  .cat a {
    float: none;
    background-color: #98c1d9;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .cat a:hover {
    background-color: #ddd;
  }
  
   .cat {
    display: block;
  }
 .Images,.Images2
 {
    display: flex;
    flex-direction: row;
    font-size: 50px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
 }
 #image1
 {
    border-radius: 30px;
   height: 400px;
   width: 300px;
   padding: 20px;
 }
 #image2
 {
    border-radius: 30px;
    height: 300px;
    width: 400px;
    padding: 20px;
   
 }
 .big 
 {
 background-image: url("https://img.freepik.com/free-photo/variation-thai-cuisine-with-bell-peppers-bokchoy-wooden-desk-against-black-background_23-2148093088.jpg?size=626&ext=jpg&ga=GA1.1.746477825.1728399876&semt=ais_hybrid");
 background-size: cover;
 background-repeat: no-repeat;
 height: 100vh;
 background-repeat: no-repeat;
  margin-bottom: 5%;
  border: 5px solid #1d2d17;
  border-radius: 10%;
 opacity: 60%;
  background-color: none;
 }
 h1{
  color: white;
  letter-spacing: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 #head
{
 text-align: center;
 font-size: 70px;
padding: 5%;
font-family: "Playwrite US Trad", cursive;
font-optical-sizing: auto;
font-style: normal;
background-color: none;
color: white;
opacity: 100%;
}
.contact{
  background-color: #FF885B;
  display: flex;
  color: white;
  margin-top: 15px;
  border-radius: 20px;
  border : 3px solid #37532e;
  }
  .contact p{
  padding : 5%;
  }
 .page{
    font-size: 20px;
    color: white;
    line-height: 40px;
  }
